.title {
  text-transform: uppercase;
  margin: 37px auto 48px 0;
}

.popularBooks__header{
  display: flex;
  justify-content: space-between;
}

.popularBooks__header_nav{
  display: flex;
  gap: 19px;
  align-items: center;
  justify-content: center;
}